html,
body {
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

body{
  min-height:100vh;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
}



